# MATLAB Specific
*.asv
*.mat

# Scratch
scratch/*

# Images
*.png
*.eps
*.emf

# Plot outputs
plotImages/*

# Measurements
Measurements/*

# PyCharm Files (For Spell Checking)
.idea/*

# Others
num2strEng.m
